.page {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    background: #101010;
}

main {
    flex: 1;
}

.sidebar {
    background: #000;
    height: 100vh;
    position: sticky;
    top: 0;
}