.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #101010;
}

main {
    flex: 1;
}

.sidebar {
    background: #000;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 260px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
