.navbar-toggler {
    background-color: #101010;
}

.top-row {
    height: 3.5rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
