<div class="card text-center m-3" style="max-width: 18rem;">
    <NavLink class="text-decoration-none" href="@Gacha.GachaId">
        <img src="img/gacha/@(Gacha.GachaId).png" class="card-img-top" alt="@Gacha.Name">
        <div class="card-footer text-white">
            @Gacha.Name
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public Gacha Gacha { get; set; }
}
