<div class="container">
    <div class="row">
        <CascadingValue Name="PullCounter" Value="PullCounter">
            <BannerResultItem RarityType="RarityType.SS_RARE"
                WeaponCount="WeaponTracking.ContainsKey(RarityType.SS_RARE) ? WeaponTracking[RarityType.SS_RARE] : 0"
                CostumeCount="CostumeTracking.ContainsKey(RarityType.SS_RARE) ? CostumeTracking[RarityType.SS_RARE] : 0" />
            <BannerResultItem RarityType="RarityType.S_RARE"
                WeaponCount="WeaponTracking.ContainsKey(RarityType.S_RARE) ? WeaponTracking[RarityType.S_RARE] : 0"
                CostumeCount="CostumeTracking.ContainsKey(RarityType.S_RARE) ? CostumeTracking[RarityType.S_RARE] : 0" />
            <BannerResultItem RarityType="RarityType.RARE"
                WeaponCount="WeaponTracking.ContainsKey(RarityType.RARE) ? WeaponTracking[RarityType.RARE] : 0"
                CostumeCount="null"/>
        </CascadingValue>
    </div>
</div>

@code {
    [CascadingParameter(Name = "PullCounter")]
    public int PullCounter { get; set; }

    [Parameter]
    public Dictionary<RarityType, int> WeaponTracking { get; set; }

    [Parameter]
    public Dictionary<RarityType, int> CostumeTracking { get; set; }
}
