<div class="card-header text-center" style="background: #000;">
    @if (RarityType == RarityType.SS_RARE)
    {
        <img src="img/ui/thumbnail_rarity_icon_rainbow.png">
        <img src="img/ui/thumbnail_rarity_icon_rainbow.png">
        <img src="img/ui/thumbnail_rarity_icon_rainbow.png">
        <img src="img/ui/thumbnail_rarity_icon_rainbow.png">
    }
    else if (RarityType == RarityType.S_RARE)
    {
        <img src="img/ui/thumbnail_rarity_icon_gold.png">
        <img src="img/ui/thumbnail_rarity_icon_gold.png">
        <img src="img/ui/thumbnail_rarity_icon_gold.png">
    }
    else
    {
        <img src="img/ui/thumbnail_rarity_icon_silver.png">
        <img src="img/ui/thumbnail_rarity_icon_silver.png">
    }
</div>

@code {

    [CascadingParameter(Name = "RarityType")]
    public RarityType RarityType { get; set; }
}
